<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
    <link rel="stylesheet" href="\css\storage.css" type="text/css">
</head>
<body>
    <h1>UPLOAD YOUR PHOTO</h1>
    <form action="/storage/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploaded_file">Choose your picture
        <input type="submit">
    </form>
    <div class="container">
        <h1>IMAGES STORAGE</h1>
        <% Items.forEach(function(image) { %>
            <img src="data:image/<%=image.img.contentType%>;base64,
            <%=image.img.data.toString('base64')%>">
        <%})%>
    </div>
</body>
</html>