<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
    <link rel="stylesheet" href="\css\storage.css" type="text/css">
</head>
<body>
    <div class="header">
        <ul id="title">How to upload your files</ul>
        <li>You can only upload <b>PNG files</b>. Click this
        <a href="https://smallpdf.com/vi/pdf-to-jpg" target="_blank">link</a>
        to convert your pdf to PNG</li>
        <li>Select your picture and press the <b>submit button</b></li>
        <li>After submit your image, go back and refresh the page</li>
        <div class="footer">
            <form action="/storage/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="uploaded_file">
                <input type="submit">
                <button type="reset" onclick="history.back()">Go Back</button>                
            </form>

        </div>
    </div>
    <hr>
    <h1 id = 'title'>IMAGES STORAGE</h1>
    <div class="container">
        <% Items.forEach(function(image) { %>
            <img src="data:image/<%=image.img.contentType%>;base64,
            <%=image.img.data.toString('base64')%>">
        <%})%>
    </div>
</body>
</html>