<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
            text-align: center;
            padding-top: 10%;
        }
        body{
            background-color: rgb(13, 140, 117);
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>THANK FOR USING MY WEBSITE</h1>
    <h2>Go back and refresh the page to see your picture</h2>
    <button onclick="history.back()">Go back</button>
</body>
</html>